@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf") format('truetype');
  font-weight: bold;
}

body {
  width: 290px;
  background-color: #9B59B6;
  color: white;
}

h1 {
  text-align: center;
  font-family: "Montserrat";
  font-size: 42px;
}

.container {
  padding: 0 20px 20px 20px;
}

#username {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#phonenumber {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  display: none;
}


#yo-button {
  margin-top: 20px;
  font-weight: bold;
  height: 50px;
  width: 100%;
  border-radius: 0;
  background-color: #58b7ec;
  font-size: 2em;
  color: white;
  border: 0;
}

#options-button {
  margin-top: 20px;
  font-weight: bold;
  height: 30px;
  width: 100%;
  border-radius: 0;
  background-color: #58b7ec;
  font-size: 1em;
  color: white;
  border: 0;
}

#yo-button:hover {
  background-color: #5abeec;
}

.err-msg {
  display: none;
  text-align: center;
  padding: 5px;
  margin: 15px auto 0 auto;
  background-color: #d1796a;
  border: 1px solid #8b4347;
}

#send-url {
  display: block;
  float: left;
  height: 14px;
  width: 14px;
  margin-right: 8px;
  margin-top: 15px;
}

#afk-mode {
  display: block;
  float: left;
  height: 14px;
  width: 14px;
  margin-right: 8px;
  margin-top: 15px;
}

label {
  display: inline-block;
  margin-top: 12px;
  float: left;
}

#link {
  display: inline;
}

.buddy-list {
  margin-top: 20px;
}

.buddy-list tbody {
  display: block;
  height: 250px;
  overflow: auto;
}

.buddy-list a {
  color: white;
  height: 40px;
  width: 250px;
  display: block;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5px;
  font-size: 1.6em;
  font-family: "Montserrat";
}

.buddy-list a:hover {
  text-decoration: none;
}
